body{
	  background-color: #36445b;
    margin:5px;
}



.big-banner{
    background-image: url('images/log3.jfif');
}

.inverse{
    background-color: black;
    height:100px;
    border-radius: 10px;
}

.jumbotron{
    border-radius: 10px;
}
/*body{
	font-family: 'Titillium Web', sans-serif;
	color: #322D2D;
	width: 80%;
	padding-left: 10%;
	background-color: #DDDDDD;
}

h1{
	margin:3% 0 3% 30%;
	
	
	font-family: 'Roboto', sans-serif;
	color: #3F4240
}
header{
  position: relative;
  text-align: center;
  
}
nav{
margin-top:3%;
margin-left:-3%;
	
}

nav li{
	display: inline-block;
	text-align: center;
	margin-left: 3%;
	padding: 1%;
	transition: background-color 0.5s ease;
  background-color: #DDDDDD;

}

nav ul{
	font-weight: bold;
	font-size: 20px;
}

nav ul li a{
	text-decoration: none;
	color: black;
	
}

nav ul li:hover{
	background-color: lightblue;
	text-decoration: none;
	border-radius: 15%;
	border: 1px solid lightblue;

}
.login{
	position: relative;
	margin-top:3%;
	float: right;
	font-size: 16px;
	margin-right: 5%;
	
}

.login a{
	text-decoration: none;
	color: royalblue;
	
}
.login a:hover{
	text-decoration: underline;
}
.templates_icons img{
	
	width:450px;
	height:300px;
}

.templates_icons img:hover{
	 filter: brightness(70%);
}

.templates_icons a{
	text-decoration: none;
	color:black;
}
.item {
	display: block;
  float:left;
  position:relative;
	width:30%;
	height:30%;
	
  
}
.img-text {
  position:absolute;
  top:50%;
  left:40%;
	background-color: #4CAF50; /* Green */
	/*opacity: .8;
  border: none;
  color: black;
	padding:2%;
  text-align: center;
  display: inline-block;
  font-size: 25px;
 border-radius: 20%;
}



footer{
	margin-top: 10%;
	clear: both;
	background: #F9F4F5;
    

}



.footer-info{
	background-color:#EFE9E9;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;
	padding: 45px;
	margin-top: 80px;
}

.footer-info .footer-company-motto{
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}

.footer-info .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-info .footer-links{
	list-style: none;
	font-weight: bold;
	color:#403C3C;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-info.footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}


.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25vh;
}

.icons {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}
.hover:hover{
    flex: 4;
  }


.item-1 { 
  background-image: url('images/carousel/pic1.jpg');
}

.item-2 { 
  background-image: url('images/carousel/pic2.jpg');
}

.item-3 { 
  background-image: url('images/carousel/pic3.jpg');
}

.item-4 { 
  background-image: url('images/carousel/pic4.png');
}

.item-5 { 
  background-image: url('images/carousel/pic5.jpg');
}

/*.thread_mast{
	font-size: 18px;
	font-weight: bold;
	height:50px;
	background-color: #4CAF50;
}

.thread{
	border-top:solid black 1px;
	margin-bottom: 10px;
}*/

